.resize {
    width: 50%;
    height: 50%;
    margin: auto;
}

.carousel-indicators li {
    background-color: rgb(0, 0, 0);
    background-color: rgba(70, 70, 70, 0.25);
  }
  
.carousel-indicators .active {
    background-color: #444;
}

.carousel a span {
    background-color: #444;
}